

.orders-table {
  width: 100%;
  margin-top: 1.5rem;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  padding: 0.3rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
  border: #33333333 3px solid;
}

.orders-table th {
  background: #f5f5f5;
}
h1{
    text-align: center;
    margin-top: 30px;
}


.status2{
    margin: 2px;
    border: none;
    background: rgb(165, 26, 8);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width:fit-content;
    padding: 5px;
}
.status1{
    margin: 2px;
    border: none;
    background: rgb(37, 120, 9);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width:fit-content;
    padding: 5px;
}
.status3{
    margin: 2px;
    border: none;
    background: rgb(15, 18, 100);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width:fit-content;
    padding: 5px;
}
.status2:hover {
  background: rgba(165, 26, 8, 0.70);
}
.status1:hover {
  background: rgba(37, 120, 9, 0.70);
}
.status2:active{
    background: rgba(165, 26, 8, 0.444);
}
.status1:active {
  background: rgba(37, 120, 9, 0.444);
}
#logout{
    background-color: rgb(2, 2, 2);
    color: white;
    border-radius: 5px;
    padding: 5px;
    float:right;
    margin-top: 30px;
}
nav{
    position:fixed;
    width: 100%;
    margin-left:-30px;
    text-align: center;
    margin-top: -20px;
    padding: 2px;   
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.01px;
}
nav a{
    padding: 5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.129);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    color: #000000d2;
    box-shadow: rgba(0, 0, 0, 0.736) 2px 2px 5px;
    margin-top: 15px;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.511);
}
.box1{
    padding: 2px;
    position: absolute;
    margin-top: 50px;
    background-color: rgba(165, 42, 42, 0.333);
    min-height: 70%;
}
