.contact {
  display: flex;
  gap: 2rem;
  margin: none;
  padding: 2rem;
  flex-wrap: wrap;
  background-color: #f7f7f7;
}

.contact-box {
  flex: 2;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.contact-box h2 {
  margin-bottom: 0.5rem;
}

.contact-box p {
  margin-bottom: 1.5rem;
  color: #555;
}

.contact-box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-box label {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
}

.contact-box input,
.contact-box textarea {
  margin-top: 0.3rem;
  padding: 0.7rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.contact-box textarea {
  min-height: 120px;
  resize: vertical;
}

.contact-box button {
  background: black;
  color: white;
  padding: 0.8rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.contact-box button:hover {
  background: #333;
}

.contact-info {
  flex: 1;
  background: #f7f7f7;
  padding: 1.5rem;
  border-radius: 10px;
}

.contact-info h3 {
  margin-bottom: 1rem;
}


#nav{
  display: block;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;

}
ul{
    list-style-type:none;
}
#nav a{
    width:100%;
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 50px;
}

#nav a:hover{
  color:hsl(0, 0%, 50%);
  cursor: pointer;
}