body{
  background-color: hsla(30, 17%, 89%, 0.829);
}
header{
    position: relative;
    background-image: url('/header-bg.jpg');
    background-size:cover;
    padding: 20px;
    text-align:center;
    font-size: 24px;
    font-weight: bold;
}

header h1{
  padding-top: 0px;
  color: #1712b8;
  font-family: 'Bungee Spice', 'Saira', sans-serif;
}

#subtitle{
  font-size: 27px;
  color: hsl(0, 0%, 97%);
  background-color: rgba(41, 41, 5, 0.264);
  font-family: 'Saira', sans-serif;
  
}

/* Jumping letter animation for welcome text */
header h2 span{
  font-family: 'Saira', sans-serif;
  display: inline-block;
  margin-top: none;
  animation: jump 5s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.50s);
  color: #f31f1f;
}
@keyframes jump{
  0%{ transform: translateY(0); }
  25%{ transform: translateY(-0.3em); }
  50%{ transform: translateY(-0.6em); }
  75%{ transform: translateY(-0.3em); }
  100%{ transform: translateY(0); }
}

header a{
  margin: 0 30px;
  text-decoration: none;
  color: hsl(0, 0%, 20%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

header a:hover{
  color:hsl(0, 0%, 50%);
  cursor: pointer;
}

/* Make navbar full width */
#navbar{
  display: block;
  background-color: hsl(200, 3%, 79%);
  padding: 5px 0;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: black 5px 5px 10px;
}
#icon{
  height:100px;  
  padding:10px;
}
.menu{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: contain;
  color:  rgb(51, 51, 51);
}
.menu div{
  background-color: #686363;
  position:relative;
  width:70%;
  height:1000px;
  border:none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#admin{
  position: static;
  border-radius: 5px;
  border: none;
  width: 50px;
  height: 28px;
  display:flex;
  float:right;
  align-items: center;
  justify-content: center;
  background-color: rgb(124, 92, 92);
  cursor: pointer;
}
#admin:hover{
  background-color: rgba(124, 92, 92, 0.745);
}
#admin:active{
  background-color: rgba(124, 92, 92, 0.473);
}

.login-box {
  align-content: center;
  height:80%;
  width:400px;
  align-items: center;
  margin: 100px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 10px;
}

.login-box input {
  padding: 8px;
  min-width: 90%;
  border-radius: 4px;
  border: rgba(0, 0, 0, 0.493) 1px solid;
}

.login-box button {
  padding: 8px;
  background: rgb(189, 102, 4);
  color: white;
  border: none;
  min-width: 95%;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
}
.login-box button:hover{
  background: rgba(189, 103, 4, 0.843);
}

.error {
  color: red;
  font-size: 14px;
}
#adminlogin{
  background: url(./kitchen.mp4);
}
/* Container to hold video and form */
.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Fullscreen video background */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover entire screen */
  z-index: -1; /* behind the form */
}

/*this is css for order*/
.menucolumn{
  display:fblock;
  color:  rgb(51, 51, 51);
  padding:5px;
}
.menucolumn div{
  background-color: #686363;
  width:100%;
  height:1000px;
  border-radius: 7px;
}

.order{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin:2px;
  gap:3px;
}
.order > .orderform{
  padding:5px;
  flex: 2;
  padding: 2rem;
  border-radius: 10px;
  
}
.order label{
  margin:5px;
  font-weight: 500;
}
.orderform h2 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  color: #333;
}
select {
  margin-top: 0.3rem;
  margin-left: 0.1rem;
  padding: 0.3rem 0.4rem;
  border-radius: 6px;
  border: 1px solid #ada9a9;
  font-size: 0.95rem;
}
.orderform p {
  margin-bottom: 1.5rem;
  color: #555;
  font-size: 0.95rem;
}

.order input{
  margin:5px;
  border: #333 1px solid;
  padding:3px;
  border-radius: 3px;
}
.order button{
  margin:20px;
  background-color: darkorange;
  border: none;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}
.order button:hover{
   background-color: rgba(255, 140, 0, 0.796);

}
.order button:active{
   background-color: rgba(255, 140, 0, 0.462);
}
